<!DOCTYPE HTML>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
    <title>INFLEUX - CHALLENGE</title>
     <!-- Aqui chamamos o nosso arquivo css externo -->
    <link rel="stylesheet" type="text/css"  href="estilo.css" />
    <link rel="stylesheet" type="text/css"  href="global.css" />
    <!--[if lte IE 8]>
 <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
 <![endif]-->
</head>
<body>
<nav>
  <ul class="menu">
		<li><a href="pages/fetch/index.html">Find the best campaign</a></li>
	  		<li><a href="#">Campaign</a>
	         	<ul>
	                  <li><a href="pages/create/index.html">Create new campaign</a></li>
	                  <li><a href="pages/find/index.html">Find campaign</a></li>
	                  <li><a href="pages/edit/index.html">Edit campaign</a></li>
                      <li><a href="pages/delete/index.html">Delete campaign</a></li>
	       		</ul>
			</li>
</ul>
</nav>
</body>
</html>